<ion-header>
  <ion-toolbar color="primary">
    <ion-img src="/assets/logotipo.jpeg"></ion-img>
  </ion-toolbar>  
</ion-header>

<ion-content>
  <ion-label>
    <ion-card>
      <ion-card-header>
        <h1>
          Tire suas dúvidas, aprenda e cresça com a comunidade!
        </h1>
      </ion-card-header>
      <ion-card-content style="display: flex; justify-content: center;">
      <ion-button routerLink="/duvida" color="primary" style="color: white;">Cadastrar Dúvida</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <h1>
          Compartilhe conhecimentos e juntos vamos mais longe!
        </h1>
      </ion-card-header>
      <ion-card-content style="display: flex; justify-content: center;">
      <ion-button routerLink="/resposta" color="primary" style="color: white;">Responder Pergunta</ion-button>
      </ion-card-content>
    </ion-card>

      <ion-card-content style="display: flex; justify-content: center;">
      <ion-button routerLink="/exibir" color="primary" style="color: white;">Exibir Perguntas & Respostas</ion-button>
      </ion-card-content>
  

  </ion-label>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <p>
      Suporte: estudajunto&#64;gmail.com
    </p>
  </ion-toolbar>
</ion-footer>